* {
  box-sizing: border-box;
}
.clearfix {
  clear: both;
}
.row {
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
}
.block1 {
  height: 200px;
  width: 200px;
  background-color: blue;
  float: left;
}
.block2 {
  height: 200px;
  width: 200px;
  background-color: yellow;
  float: right;
}
.block3 {
  height: 200px;
  width: 200px;
  background-color: blue;
  float: left;
}
.block4 {
  float: right;
}
.mini {
  height: 200px;
  width: 200px;
  background-color: yellow;
  float: left;
  margin-left: 10px;
}
.block5 {
  float: left;
}
.block6 {
  float: right;
}
.mini2 {
  height: 200px;
  width: 200px;
  background-color: blue;
  float: left;
  margin-right: 10px;
}
.mini3 {
  height: 200px;
  width: 200px;
  background-color: yellow;
  float: left;
  margin-left: 10px;
}
.block7 {
  float: left;
}
.block8 {
  height: 200px;
  width: 200px;
  background-color: blue;
  float: left;
}
.block9 {
  float: left;
}
.mini4 {
  height: 95px;
  width: 200px;
  background-color: yellow;
  margin-left: 10px;
  margin-bottom: 10px;
}
.mini5 {
  height: 95px;
  width: 200px;
  background-color: yellow;
  margin-left: 10px;
  margin-top: 10px;
}
.block10 {
  float: right;
}
.block11 {
  height: 200px;
  width: 200px;
  background-color: blue;
  float: left;
}
.block12 {
  float: left;
}
.mini6 {
  height: 95px;
  width: 200px;
  background-color: yellow;
  margin-left: 10px;
  margin-bottom: 10px;
}
.mini7 {
  height: 95px;
  width: 200px;
  background-color: yellow;
  margin-left: 10px;
  margin-top: 10px;
}
